/* CSS CODE */

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Rampart One', sans-serif;
  --font-cursive: 'Edu NSW ACT Cursive', cursive;
  --button-bg: #fff;
  --button-border: #000;
  --violet: #C1BDF0;
  --sky: #A3CEF0;
  --sand: #EDE4D3;
  --teal: #337B59;
  --purple: #70416F;
  --white: #FFFFFF;
  --blue: #124475;
  --pink: #ff4081;
  --grey: #222;
  --black: #000;
  --font-size: 1.5rem;
  --text-color: #222;
  --hover-color: #ff4080;
  --link-color: #000;
  --link-hover-color: #000;
  --button-text-color: #000;
  --button-stroke-color: #000;
  --list-text-color: #fff;
  --list-box-color: #ff4080d5;
}

    body {
      font-family: 'Rampart One', sans-serif;
      background: #fefefe;
      scroll-behavior: smooth;
      text-align: center;
      gap: 5rem;
    }

    .dark {
  --button-bg: #000;
  --button-border: #fff;
  --violet: #2A1B4F;
  --sky: #1B2A40;
  --sand: #3A3A3A;
  --teal: #76B39D;
  --purple: #B689B0;
  --white: #000000;
  --blue: #8FB4E9;
  --pink: #FF9ECF;
  --grey: #ddd;
  --black: #fff;
  --text-color: #fff;
  --link-color: #fff;
  --button-text-color: #fff;
  --button-stroke-color: #fff;
  --list-text-color: #ff4080d5;
  --list-box-color: #fff;
}
body.dark {
  background: #111;
  color: var(--grey);
}

#toggle-theme {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 24px;  /* Size of the icon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style in dark mode */
body.dark #toggle-theme {
  background: #333;
  border-color: #444;
  color: #fff;
}

#toggle-theme:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

    .complete-wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }

    .header {
      position: relative;
      margin: 0;
    }

    .intro {
      text-align: center;
      display: block;
      font-family: 'Edu NSW ACT Hand Pre';
      font-size: 30px;
      margin-bottom: -3%;
    }

    .description {
      text-align: center;
      display: block;
      font-family: 'Montserrat';
      font-size: 13px;
      max-width: 45%;
    }
    
    .description a {
      text-decoration: none;
      color: var(--link-color);
    }

    .description a:hover {
    text-decoration: underline;
    }

    h3 {
    text-align: center;
    font-family: 'Edu NSW ACT Cursive';
    font-size: 25px;
    color: var(--text)
    }

    .rika-container {
      display: flex;
      flex-direction: column; /* note for Rika: this is for vertical stack */
      justify-content: center;
      align-items: center;
      gap: 0rem;
      padding: 0rem;
      height: 100vh;
    }
    
    .letter-block {
        display: flex;
        gap: 30px;
        justify-content: center;
      }

    .letter {
      font-size: 15rem;
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.6s ease;
      text-decoration: none;
      color: var(--text-color);
    }

    .letter:hover {
      color: var(--hover-color);
    }

    .letter.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .btn-svg-outline {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 0.75rem 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--button-text-color);
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  border: none;
  background: transparent;
  letter-spacing: 1px;
  border-radius: 30px;
}

.btn-svg-outline svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.btn-svg-outline rect {
  fill: none;
  stroke: var(--button-stroke-color);
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease, stroke-dasharray 1s ease;
}

.btn-svg-outline:hover rect {
  stroke-dasharray: 90 300;
  stroke-dashoffset: 135;
}

  section {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    color: #222;
    border-top: 1px #ccc;
  }

  .description-content {
        max-width: 25rem;
        line-height: 1.5;
        font-family: 'Montserrat';
        font-size: 13px;
        text-align: center;
        color: var(--text-color);
      }

      h4, h5 {
        text-align: center;
        font-family: 'Edu NSW ACT Cursive';
        font-size: 45px;
        color: var(--text-color);
        margin: 0rem;
        }      

/*Artwork section*/
#artwork {
    padding: 1rem;
    text-align: center;
    height: 100%;
}

.project-wrapper2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  background-color: blue;
}

.project-box2-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  border: 2px solid #f4f4f4; /* border for each project wrapper */
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
}

.project-intro {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 70%;
}

.project-icon {
  width: 70px;
  height: 70px;
}

.project-title {
  margin-bottom: 0.5rem;
  font-family: 'Montserrat';
  font-size: 28px;
  text-align: left;
}

.project-subtext {
  color: #555;
  font-family: 'Montserrat';
  font-size: 13px;
  text-align: left;
  color: var(--text-color);
}

.project-subtext-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-family: 'Montserrat';
  font-size: 12px;
}

.project-subtext-list li {
  background-color: var(--list-box-color);
  color: var(--list-text-color);
  padding: 0.5rem;
  border-radius: var(--corners-sm);
  font-family: 'Montserrat';
  font-size: 12px;
  border-radius: 0.5rem;
}

.snapshots-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding-bottom: 0.5rem;
}

.snapshot-card {
  min-width: 250px;
  height: 160px;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snapshot-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.snapshot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.palette-preview {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.palette-preview-col {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 400px;
  height: 600px;
  gap: 0.5rem;
  min-width: 30%;
  font-family: 'Montserrat'; font-size: 14px; color: white;
}

.mini-palette {
  height: 25px;
  border-radius: 0.5rem;
}

.emerald-green { background: #046306; }
.web-forest-green { background: #1B842C; }
.medium-sea-green { background: #3AAB58; }
.emerald { background: #4FC879;}
.white { background: #fafafa; color: black; }

.tech-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 2rem;
    width: 300px;
    height: 80px;
}

.tech-box a {
    font-size: 2rem;
    color: #222;
    text-decoration: none;
}

.tech-box a:hover {
    color: #a72953;
}

.snapshots-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.main-snapshot {
  width: 50%;
  height: 20%;
  border-radius: 1rem;
  border: 2px solid white;
  overflow: hidden;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.main-snapshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.main-snapshot img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.main-snapshot2 {
  width: 49%;
  height: 20%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.main-snapshot2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.main-snapshot2 img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.bottom-row {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.small-snapshot {
  flex: 1 1 30%;
  min-width: 150px;
  height: 120px;
  border-radius: 1rem;
  overflow: hidden;
border: 2px solid white;
  transition: transform 0.3s ease;
}

.small-snapshot:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.small-snapshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jade {background: #1CA66F; }
.lavender {background: #B77DD0; }
.chardonnay {background: #FFC186; }
.stop-light-go-green {background: #4DE36B; }

/*Knowledge section*/
#knowledge {
  padding: 6rem;
  text-align: center;
  height: 150vh;
  overflow: hidden;
}

.skills-wrapper {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
  background-color:rgba(255, 255, 255, 0.817);
  border: 3px double #a72953;
  border-radius: 3rem;
  width: 1000px;
  height: 1875px;
}

.skills-wrapper2 {
  background-color: #fefefe;
  width: 550px;
  height: 550px;
  border-radius: 3rem;
}

.skills-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0rem;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-left: 1.5rem;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 2rem;
  width: 400px;
  height: 100%;
}

.skill-description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  gap: 2rem;
  background-color: #7fffd474;
  border-radius: 2rem;
  padding: 1rem;
  width: 85%;
  height: 100%;
}

.skill-description, .skill-description2 {
  text-align: center;
  display: block;
  font-family: 'Montserrat';
  max-width: 25rem;
  line-height: 1.5;
  font-size: 14px;
}

.skill-description3 {
  text-align: center;
  display: block;
  font-family: 'Montserrat';
  max-width: 25rem;
  line-height: 1.5;
  font-size: 14px;
  color: var(--white);
}

.skill-description-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  gap: 2rem;
  background-color: rgba(127, 255, 212, 0.458);
  border: 3px dashed #124475;
  border-radius: 2rem;
  padding: 1rem;
  width: 85%;
  height: 100%;
}

.skill-description-box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  gap: 2rem;
  background-color: #fefefe;
  border: 3px dashed #124475;
  border-radius: 2rem;
  padding: 1rem;
  width: 85%;
  height: 100%;
}

/*Interest section*/

#interests {
  padding: 1rem;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.interest-parent {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: (5, 1fr); 
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  display: grid;
  width: 1100px;
  height: 1200px;
  justify-content: left;
  align-items: left;
}
  
.self-photo, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9 {
  border-radius: 30px;
}
  .self-photo { 
  grid-area: 3 / 3 / 4 / 4; 
  background-color: black;
}
  .div2 { 
  grid-area: 2 / 4 / 3 / 5;
  background: grey;
}

  .div3 {
  grid-area: 3 / 5 / 4 / 6;
  background: grey;
  }

  .div4 {
  grid-area: 4 / 4 / 5 / 5;
  background: grey;
  }

  .div5 {
  grid-area: 5 / 5 / 6 / 6;
  background: grey;
  
  }

  .div6 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: grey;
}
.div7 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: grey;
}
.div8 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: grey;
}

.div9 {
  grid-area: 1 / 2 / 1 / 1;
  background-color: var(--pink)
}

/*Resume section */

#resume {
  padding: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}

.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h5.highlight a { 
  color: #222;
  text-decoration: none;
  color: inherit;
}

h5.highlight:hover {
color: #ff4080;
cursor: pointer;
}

/* navbar */
nav1 {
  font-family: 'Montserrat';
  font-size: 100%;
  padding: 5rem;
}

nav1 ul {
  list-style-type: none; /* this turns off the bullet list */
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

nav1 [class*="fa-"] {
  font-size: 180%;
  color: var(--grey)
}

nav1 a {
  color: #222;
  text-decoration: none;
  display: block;
}

nav1 a:hover,
nav1 [class*="fa-"]:hover {
  color: #ff4081;
}

.number {
  font-family: "Montserrat";
  transform: rotate(270deg);
  font-size: 40px;
  display: grid;
}