/* CSS CODE */

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-title: "Rampart One", sans-serif;
  --font-cursive: "Edu NSW ACT Cursive", cursive;
  --button-bg: #fff;
  --button-border: #000;
  --violet: #c1bdf0;
  --sky: #a3cef0;
  --sand: #ede4d3;
  --teal: #337b59;
  --purple: #70416f;
  --white: #ffffff;
  --blue: #124475;
  --pink: #ff4081;
  --grey: #222;
  --black: #000;
  --font-size: 1.5rem;
  --text-color: #222;
  --hover-color: #ff4080;
  --link-color: #000;
  --link-hover-color: #000;
  --button-text-color: #000;
  --button-stroke-color: #000;
  --list-text-color: #fff;
  --list-box-color: #ff4080d5;
}

body {
  font-family: "Rampart One", sans-serif;
  background: #fefefe;
  scroll-behavior: smooth;
  text-align: center;
  gap: 5rem;
}

.dark {
  --button-bg: #000;
  --button-border: #fff;
  --violet: #2a1b4f;
  --sky: #1b2a40;
  --sand: #3a3a3a;
  --teal: #76b39d;
  --purple: #b689b0;
  --white: #000000;
  --blue: #8fb4e9;
  --pink: #ff9ecf;
  --grey: #ddd;
  --black: #fff;
  --text-color: #fff;
  --link-color: #fff;
  --button-text-color: #fff;
  --button-stroke-color: #fff;
  --list-text-color: #ff4080d5;
  --list-box-color: #fff;
}
body.dark {
  background: #111;
  color: var(--grey);
}

#toggle-theme {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 24px; /* Size of the icon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style in dark mode */
body.dark #toggle-theme {
  background: #333;
  border-color: #444;
  color: #fff;
}

#toggle-theme:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.complete-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin: 0;
}

.intro {
  text-align: center;
  display: block;
  font-family: "Edu NSW ACT Hand Pre";
  font-size: 30px;
  margin-bottom: -3%;
}

.description {
  text-align: center;
  display: block;
  font-family: "Montserrat";
  font-size: 13px;
  max-width: 70%;
}

.description a {
  text-decoration: none;
  color: var(--link-color);
}

.description a:hover {
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-family: "Edu NSW ACT Cursive";
  font-size: 25px;
  color: var(--text);
}

.rika-container {
  display: flex;
  flex-direction: column; /* note for Rika: this is for vertical stack */
  justify-content: center;
  align-items: center;
  gap: 0rem;
  padding: 0rem;
  height: 100vh;
}

.letter-block {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.letter {
  font-size: 15rem;
  opacity: 0;
  /* transform: translateY(50px); */
  transform: translateY(-50px);
  transition: all 0.6s ease;
  text-decoration: none;
  color: var(--text-color);
}

.letter:hover {
  color: var(--hover-color);
}

/* .letter.visible {
      opacity: 1;
      transform: translateY(0);
    } */

.btn-svg-outline {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 0.75rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--button-text-color);
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  border: none;
  background: transparent;
  letter-spacing: 1px;
  border-radius: 30px;
}

.btn-svg-outline svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.btn-svg-outline rect {
  fill: none;
  stroke: var(--button-stroke-color);
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease, stroke-dasharray 1s ease;
}

.btn-svg-outline:hover rect {
  stroke-dasharray: 90 300;
  stroke-dashoffset: 135;
}

section {
  height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 3rem;
  color: #222;
  border-top: 1px #ccc;
}

.description-content {
  max-width: 25rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-size: 13px;
  text-align: center;
  color: var(--text-color);
}

h4,
h5 {
  text-align: center;
  font-family: "Edu NSW ACT Cursive";
  font-size: 45px;
  color: var(--text-color);
  margin: 0rem;
}

/*Artwork section*/

#artwork {
  padding: 1rem;
  text-align: center;
  height: 100%;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: start;
}

.project_content {
  display: grid;
  flex-direction: column;
  gap: 2rem;
  z-index: 2;
}

.project_text-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 30px;
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
}

.number {
  top: -20px;
  left: 0;
  font-size: clamp(5rem, 20vw, 15rem);
  color: var(--list-box-color);
  font-weight: bold;
  z-index: 0;
  opacity: 0.4;
  pointer-events: none;
  font-family: "Montserrat";
  transform: rotate(270deg);
}

.project-title {
  margin-bottom: 0.5rem;
  font-family: "Montserrat";
  font-size: 50px;
  text-align: left;
  max-width: 40%;
}

.project-subtext {
  color: #555;
  font-family: "Montserrat";
  font-size: 13px;
  text-align: left;
  color: var(--text-color);
  max-width: 70%;
}

.project-subtext-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  font-family: "Montserrat";
  font-size: 12px;
}

.project-subtext-list li {
  background-color: var(--list-box-color);
  color: var(--list-text-color);
  padding: 0.5rem;
  border-radius: var(--corners-sm);
  font-family: "Montserrat";
  font-size: 12px;
  border-radius: 0.5rem;
}

.image-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.image-box img:first-child {
  object-fit: fill;
  height: auto;
}

.image-box img:hover {
  transform: scale(1.05);
}

.image-box video {
  width: 100%;
  height: auto;
  object-fit: fill;
  display: block;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

/*Knowledge section*/

#knowledge {
  padding: 3rem;
  text-align: center;
  height: 100%;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 5%;
  align-items: start;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 2rem;
  z-index: 2;
}

.skills-category {
  top: -20px;
  left: 0;
  font-size: 60px;
  color: var(--list-box-color);
  font-weight: bold;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
  font-family: "Montserrat";
  transform: rotate(270deg);
}

.skill-title {
  font-family: "Montserrat";
  font-size: 25px;
  text-align: left;
  color: var(--text-color);
}

/*Interest section*/

/* grid testing */
/* #interests {
  padding: 1rem;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.interest-parent {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: (5, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  display: grid;
  width: 1100px;
  height: 1200px;
  justify-content: left;
  align-items: left;
}

.node {
  width: 250px;
  height: 250px;
  background-color: grey;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transform: scale(0.2);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.self-photo,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  border-radius: 30px;
}
.self-photo {
  grid-area: 3 / 3 / 4 / 4;
  background-color: black;
}
.div2 {
  grid-area: 2 / 4 / 3 / 5;
  background: grey;
}

.div3 {
  grid-area: 3 / 5 / 4 / 6;
  background: grey;
}

.div4 {
  grid-area: 4 / 4 / 5 / 5;
  background: grey;
}

.div5 {
  grid-area: 5 / 5 / 6 / 6;
  background: grey;
}

.div6 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: grey;
}
.div7 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: grey;
}
.div8 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: grey;
}

.div9 {
  grid-area: 1 / 2 / 1 / 1;
  background-color: var(--pink);
} */

#interests {
  padding: 1rem;
  text-align: center;
  height: 120vh;
  overflow: hidden;
}

.container {
  position: relative;
}

.interest-parent {
  position: relative;
  width: 2100px;
  height: 1200px;
  margin: 0 auto;
}

.self-photo {
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 2;
}

/* Nodes behind main selfie */
.node {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: solid 4px var(--button-bg);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transform: scale(0.2);
  transition: transform 0.6s ease, opacity 0.6s ease;
  overflow: hidden;
}

.node img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Scatter positions for each div  */
.div2 {
  top: 130px;
  left: 510px;
}
.div3 {
  top: 150px;
  left: 150px;
}
.div4 {
  top: 330px;
  left: 850px;
}
.div5 {
  top: 470px;
  left: 100px;
}
.div6 {
  top: 650px;
  left: 700px;
}
.div7 {
  top: 790px;
  left: 180px;
}

/*Resume section */

#resume {
  padding: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}

.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h5.highlight a {
  color: #222;
  text-decoration: none;
  color: inherit;
}

h5.highlight:hover {
  color: #ff4080;
  cursor: pointer;
}

/* navbar */
nav1 {
  font-family: "Montserrat";
  font-size: 100%;
  padding: 5rem;
}

nav1 ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

nav1 [class*="fa-"] {
  font-size: 180%;
  color: var(--grey);
}

nav1 a {
  color: #222;
  text-decoration: none;
  display: block;
}

nav1 a:hover,
nav1 [class*="fa-"]:hover {
  color: #ff4081;
}

.number {
  font-family: "Montserrat";
  transform: rotate(270deg);
  font-size: 80px;
  display: grid;
}

/* footer */
.footer-description {
  text-align: center;
  justify-self: center;
  display: block;
  font-family: "Montserrat";
  font-size: 13px;
  max-width: 45%;
}
