:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Rampart One', sans-serif;
  --font-cursive: 'Edu NSW ACT Cursive', cursive;
  --button-bg: #fff;
  --button-border: #000;
  --violet: #C1BDF0;
  --sky: #A3CEF0;
  --sand: #EDE4D3;
  --teal: #337B59;
  --purple: #70416F;
  --white: #FFFFFF;
  --blue: #124475;
  --pink: #ff4081;
  --grey: #222;
  --black: #000;
  --font-size: 1.5rem;
  --text-color: #222;
  --hover-color: #ff4080;
  --link-color: #000;
  --link-hover-color: #000;
  --button-text-color: #000;
  --button-stroke-color: #000;
  --list-text-color: #fff;
  --list-box-color: #ff4080d5;
  --project-01: #61BC79;
  --project-02: #FF9677;
  --project-03: #B77DD0;
  --project-04: #D51B5B;
}

/*Artwork section*/

  .description-content {
        max-width: 25rem;
        line-height: 1.5;
        font-family: 'Montserrat';
        font-size: 13px;
        color: var(--text-color);
        justify-self: center;
      }

      h4, h5 {
        text-align: center;
        font-family: 'Edu NSW ACT Cursive';
        font-size: 45px;
        color: var(--text-color);
        margin: 0rem;
        }     

#artwork-intro {
  padding: 2rem;
  text-align: center;
  background: #f5f5f5;
  color: #222;
}

.artwork_container {
  position: relative;
  height: 300vh; /* enough for slides */
  overflow: hidden;
}

.slides-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}


@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Montserrat:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-primary);
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
  overflow: hidden;
}

/* Slide styles */

.slide {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide:nth-of-type(1) { visibility: visible; }
.slide:nth-of-type(1) .slide__content { background-color: var(--project-01); }
.slide:nth-of-type(2) .slide__content { background-color: var(--project-02); }
.slide:nth-of-type(3) .slide__content { background-color: var(--project-03); }
.slide:nth-of-type(4) .slide__content { background-color: var(--project-04); }

.slide__outer,
.slide__inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.slide__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide__container {
  position: relative;
  max-width: 1400px;
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 0 1rem;
  gap: 0;
}

/* Project heading */

.slide__heading {
  grid-area: 2 / 2 / 3 / 10;
  align-self: end;
  font-family: var(--font-primary);
  font-size: clamp(5rem, 15vw, 10rem);
  font-weight: 900;
  color: (var(--list-text-color));
  mix-blend-mode: difference;
  z-index: 5;
}

/* Image Container */

.slide__img-cont {
  grid-area: 3 / 2 / 8 / 7;
  margin-top: 0;
}

.slide__img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Subtext */

.project-subtext {
  grid-area: 4 / 9 / 5 / 11;
  font-size: 1rem;
  text-align: right;
  color: var(--text-color);
  opacity: 0.85;
  align-self: start;
  z-index: 5;
}

/* Button */

.slide__button {
  grid-area: 6 / 9 / 8 / 11;
  align-self: start;
  justify-self: start;
  padding: 0.75rem 1.5rem;
  background: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* Overlay */

.overlay {
  position: absolute;
  inset:0;
  pointer-events: none;
}

.overlay__content {
  position: absolute;
  width:100%; height:100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.overlay__img-cont {
  grid-area: 4 / 3 / 9 / 11;
  position: relative;
}

.overlay__img-cont img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay__count {
  grid-area: 3 / 10 / 4 / 11;
  text-align: right;
  font-size: clamp(3rem, 4vw, 6rem);
  border-bottom: 7px solid white;
}

/* Responsive Adjustments */

@media screen and (min-width: 900px) {
  .overlay__content,
  .slide__container {
    padding: 0 3rem;
    height: 80vh;
    margin-top: 10vh;
  }

  .overlay__img-cont {
    grid-area: 5 / 4 / 10 / 11;
  }

  .overlay__count {
    grid-area: 3 / 10 / 4 / 11;
  }

  .slide__img-cont {
    grid-area: 3 / 2 / 8 / 7;
  }

  .slide__heading {
    grid-area: 1 / 1 / 4 / 10;
  }
}
