:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Rampart One', sans-serif;
  --font-cursive: 'Edu NSW ACT Cursive', cursive;
  --button-bg: #fff;
  --button-border: #000;
  --violet: #C1BDF0;
  --sky: #A3CEF0;
  --sand: #EDE4D3;
  --teal: #337B59;
  --purple: #70416F;
  --white: #FFFFFF;
  --blue: #124475;
  --pink: #ff4081;
  --grey: #222;
  --black: #000;
  --font-size: 1.5rem;
  --text-color: #222;
  --hover-color: #ff4080;
  --link-color: #000;
  --link-hover-color: #000;
  --button-text-color: #000;
  --button-stroke-color: #000;
  --list-text-color: #fff;
  --list-box-color: #ff4080d5;
}

/*Knowledge section*/

  .description-content {
        max-width: 25rem;
        line-height: 1.5;
        font-family: 'Montserrat';
        font-size: 13px;
        color: var(--text-color);
        justify-self: center;
      }

      h4, h5 {
        text-align: center;
        font-family: 'Edu NSW ACT Cursive';
        font-size: 45px;
        color: var(--text-color);
        margin: 0rem;
        }     

#knowledge {
    padding: 1rem;
    text-align: center;
    height: 100%;
}

.skills-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
  column-gap: 2rem;
  margin-top: 5%;
  align-items: start;
}

.skills-wrapper {
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    gap: 2rem;
    z-index: 2;
}

.skills-category {
  top: -20px;
  left: 0;
  font-size: 60px;
  color: var(--list-box-color);
  font-weight: bold;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
  font-family: "Montserrat";
  transform: rotate(270deg);
}

.skill-title {
  font-family: 'Montserrat';
  font-size: 25px;
  text-align: left;
  color: var(--text-color);
}